body {
  font-family: "Rosario", Helvetica, Arial, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111;
  font-weight: 300;
  font-size: 16px;
  margin: auto;
}
.boxlabel {
  font-weight: 700;
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 1rem 0;
}

.boxlabel.first {
  padding-bottom: 3rem;
}

.centered {
  text-align: center;
}

.alignright {
  text-align: right;
}

.tags li {
  float: left;
}
.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 100;
  color: #444;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}
.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
.tag:hover {
  background-color: #111;
  color: white;
}

.tag:hover::after {
   border-left-color: #111;
}

.padbot1 {
  padding-bottom: 1rem;
}
.padbot2 {
  padding-bottom: 4rem;
}
.padtop1 {
  padding-top: 1rem;
}
.padtop2 {
  padding-top: 2rem;
}
.padtop4 {
  padding-top: 4rem;
}
.padtop10 {
  padding-top: 10rem;
}

.martop0 {
  margin-top: 0;
}
.martop1 {
  margin-top: 1rem;
}
.martop2 {
  margin-top: 2rem;
}
.marbot0 {
  margin-bottom: 0rem;
}
.marbothalf {
  margin-bottom: .5rem;
}

/*<500px S - phones */
@media only screen and (max-width: 499px) {

}

/*500-1200 M - tablets */
@media only screen and (min-width: 500px) and (max-width: 1199px) {

}
